{% trans_default_domain 'FOSUserBundle' %}

{{form_start(form)}}

	{{ form_label(form.username) }}
	{{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
	
	{{ form_label(form.email) }}
	{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}

	{{ form_label(form.current_password) }}
	{{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
	
	{{ form_label(form.firstname) }}
	{{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
	
	{{ form_label(form.lastname) }}
	{{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
	{{ form_rest(form) }}
	<br>
    <div>
        <input type="submit" class="btn btn-success" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>
